.results-activites {
	ul {
		padding: 0 15px;
		margin: 0 0 50px;
	}
	li {
		list-style-type: none;
		margin: 0 0 10px;
		border: 1px solid #109cda;
		background-color: #FFF;
		border-radius: 2px;
	}
	a {
		display: block;
		padding: 8px 15px;
		color: #333;
		span {
			display: block;
		}
		.time {
			font-size: 0.8em;
			color: #109cda;
		}
		.title {
			font-size: 1.1em;
		}
	}
}

.results-date {
	padding: 10px 0;
	margin: 0 0 25px;
	background-color: #109cda;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	p {
		margin: 0;
	}
}

.modal-dialog {
	margin: 0;
}