.results-activites {
	ul {
		padding: 0 15px;
		margin: 0 0 50px;
	}
	li {
		list-style-type: none;
		padding: 8px 15px;
		margin: 0 0 10px;
		border: 1px solid #000;
	}
}

.results-date {
	padding: 10px 0;
	margin: 0 0 25px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	p {
		margin: 0;
	}
}