::selection {
  background: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff; /* Gecko Browsers */
}

body {
	font: normal 16px Calibri;
	background: url('../img/bg.jpg') no-repeat top center;
	background-size: cover;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
	width: 80px;
	margin: 30px auto 0;
	img {
		width: 100%;
	}
}
.ctrl-btn {
	width: 100%;
	padding: 10px 15px;
	border-width: 0;
	background-color: #109cda;
	color: #FFF;
	text-align: center;
	border-radius: 5px;
}
#destinationinput {
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
	border-width: 0;
	margin: 0 0 25px;
}
.panel {
	display: none;
	background-color: transparent;
	border-width: 0;
    padding: 15px 0;
}
.active-panel {
	display: block;
}

.mood-flipboard {
	position: relative;
}
.buddy {
	display: none;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	color: #fff;
	width: 300px;
	height: 300px;
	top: 0;
	left: 20px;
	position: absolute;
	cursor: pointer;
}
.rotate-left {
	transform: rotate(30deg) scale(0.8);
	transition: 1s;
	margin-left: 400px;
	cursor: e-resize;
	opacity: 0;
}
.rotate-right {
	transform: rotate(-30deg) scale(0.8);
	transition: 1s;
	opacity: 0;
	margin-left: -400px;
	cursor: w-resize;
}

.avatar {
	width: 100%;
	height: 100%;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	background-size: 100% auto !important;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 42px;
	padding: 100px 20px 20px;
	line-height: normal;
	color: black;
	cursor: pointer;

}
.like {
	border-radius: 5px;
	padding: 5px 10px;
	border: 2px solid green;
	color: green;
	text-transform: uppercase;
	font-size: 15px;
	position: absolute;
	top: 50px;
	right: 40px;
	text-shadow: none;
}
.dislike {
	border-radius: 5px;
	padding: 5px 10px;
	border: 2px solid red;
	color: red;
	text-transform: uppercase;
	font-size: 15px;
	position: absolute;
	top: 50px;
	left: 40px;
	text-shadow: none;
}

.mood-flipboard {
	width: 325px;
	height: 325px;
}
.where-panel {
	h2 {
		text-align: center;
	}
	img {
		display: block;
		width: 150px;
		margin: 0 auto 20px;
	}
}
.calendar-panel {
	h2 {
		text-align: center;
	}
	.calendar-wrapper {
		margin-top: 30px; 
		background-color: #FFF;
		text-align: center;
	}
	th {
		text-align: center;
	}
}
.mood-panel {
	h2 {
		text-align: center;
	}	
}

@import 'page/results';
@import 'page/choices';